<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.complexdaemon</string>
	<key>Program</key>
	<string>/usr/local/sbin/complexdaemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/complexdaemon</string>
		<string>--config</string>
		<string>/etc/complexdaemon.conf</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
		<key>NetworkState</key>
		<true/>
		<key>PathState</key>
		<dict>
			<key>/etc/complexdaemon.conf</key>
			<true/>
		</dict>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>30</integer>
		<key>Weekday</key>
		<integer>1</integer>
	</dict>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>8080</string>
			<key>SockType</key>
			<string>stream</string>
			<key>SockFamily</key>
			<string>IPv4</string>
		</dict>
	</dict>
	<key>UserName</key>
	<string>_complexdaemon</string>
	<key>GroupName</key>
	<string>_complexdaemon</string>
	<key>WorkingDirectory</key>
	<string>/var/lib/complexdaemon</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin</string>
		<key>LOG_LEVEL</key>
		<string>info</string>
	</dict>
	<key>StandardOutPath</key>
	<string>/var/log/complexdaemon.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/complexdaemon.stderr.log</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
	<key>ExitTimeOut</key>
	<integer>60</integer>
	<key>Nice</key>
	<integer>5</integer>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>8192</integer>
	</dict>
	<key>Umask</key>
	<integer>18</integer>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
